<!DOCTYPE html>

{{/*This file requires recompilation to reflect changes*/}}

<meta charset="UTF-8">

<h1>Welcome to SeniorGo CMS</h1>

<a href="/admin/">admin</a>

{{ range . }}
    <article>
        <h2>{{ .Title }}</h2>
        <small>{{ .CreationTime }}</small>
        <p>{{ .Body }}</p>
    </article>
{{ else }}
    <p>No hay posts aún.</p>
{{ end }}


<div id="version" style="position: absolute; left: 0; bottom: 0;"></div>
<script>
    fetch('/version')
        .then(req => req.text())
        .then(version => {
            document.getElementById("version").innerText = version;
        });
</script>
