<!DOCTYPE html>

{{/*This file requires recompilation to reflect changes*/}}

<meta charset="UTF-8">

<h1>Welcome to SeniorGo CMS</h1>

<a href="/contributors/">Contributors</a>
<a href="/admin/">Admin</a>


{{ range . }}
    <article>
        <h2>{{ .Title }}</h2>
        <small>{{ .CreationTime }}</small>
        <p>{{ .Body }}</p>
    </article>
{{ else }}
    <p>No hay posts aún.</p>
{{ end }}


<div id="version" style="position: absolute; left: 0; bottom: 0;"></div>
<script>
    fetch('/version')
        .then(req => req.text())
        .then(version => {
            document.getElementById("version").innerText = version;
        });
</script>

<footer style="border-top: solid silver 1px; text-align: center;">
    Hecho con ❤️ desde <a href="https://discord.com/channels/1235789126033477632/1242312465052602438">SeniorGo - Latam</a>
    <br>
    Contribuye en <a href="https://github.com/SeniorGo/seniorgocms">github.com/SeniorGo/seniorgocms</a>
    <br>
    <a href="/contributors/">Contributors</a>
</footer>